.App { 
  
}
.tool-header {
  background-color: #fff;
 
}

.work-section {
  padding: 2%;


}

.map-area {
  background-color: rgb(33, 15, 200);
  left: 0;
  width: 70%;


}

.toolset {
  background-color: rgb(222, 5, 5);
  right: 0;
  width: 30%;
}

.split {
  height: 100%;
  
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
}